.navBar-light {
  border: 1px solid rgb(96, 173, 250);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 6%;
  height: 97%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  position: fixed;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
}

.navBar-dark {
  border: 1px solid rgb(96, 173, 250);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 6%;
  height: 97%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  position: fixed;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-wall.png');
}

.navBar-details {
  border-right: 2px solid rgb(96, 173, 250);
  box-shadow: 1px 1px 1px rgb(96, 173, 250);
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.img-logo-light {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 60px;
  height: 60px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.img-logo-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 60px;
  height: 60px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.img-logo-light:hover {
  border: 1px solid rgb(96, 173, 250);
}

.img-logo-dark:hover {
  border: 1px solid rgb(96, 173, 250);
}

.img-logo-light > img {
  width: 100%;
  height: 100%;
}

.img-logo-dark > img {
  width: 100%;
  height: 100%;
  display: none;
}
.logo-for-light {
  display: none;
}
.logo-for-dark {
  width: 100%;
  height: 100%;
  background-image: url('/public/Icons/mutsho_logo_dark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  padding: 3px;
  cursor: pointer;
}

.theme:hover {
  border: 1px solid rgb(96, 173, 250);
}
.theme > img {
  width: 100%;
  height: 100%;
}

.navBar-animation {
  /*border: 2px solid purple;*/
  height: 100%;
  width: 10%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  gap: 20px;
}

.navBar-animation div {
  height: 60px;
  width: 100%;
  position: absolute; /* stack them */
  animation: snakeUp 10s linear infinite;
  border-radius: 10px;
}

/*fonts*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@keyframes snakeUp {
  0% {
    transform: translateY(650px);
    opacity: 1;
  }
  90% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

/* Stagger each block with delays */
.navBar-animation div:nth-child(1) {
  animation-delay: 0s;
}
.navBar-animation div:nth-child(2) {
  animation-delay: 2s;
}
.navBar-animation div:nth-child(3) {
  animation-delay: 4s;
}

/*over lay*/
#about {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-light {
  position: relative;
  width: 900px;
  /* height: 300px;*/
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-content-dark {
  position: relative;
  width: 900px;
  /* height: 300px;*/
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-wall.png');
}

.close-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 2px;
  margin-top: 5px;
}
.close-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  border: 1px solid rgb(96, 173, 250);
}

.close-btn > img {
  width: 100%;
  height: 100%;
}

.about-project {
  /*border: 1px solid red;*/
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.myPicture {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.about-projectB {
  width: 53%;
  text-align: justify;
  font-size: 13px;
  border-left: 2px dotted rgb(96, 173, 250);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.about-projectC {
  /*border: 1px solid red;*/
  margin-left: 10px;
}

.the-creator {
  width: 350px;
  height: 350px;
}
.the-creator > img {
  width: 100%;
  height: 100%;
}

.aboutIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.aboutIcons > div {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  padding: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.aboutIcons > div:hover {
  border: 1px solid rgb(96, 173, 250);
  border-radius: 50%;
}

.aboutIcons > div > a > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .navBar-light {
    position: static;
    height: 80px;
    width: auto;
  }
  .navBar-dark {
    position: static;
    height: 80px;
    width: auto;
  }
  .navBar-details {
    width: 98%;
    flex-direction: row;
  }
  .img-logo-light {
    margin-top: 0px;
    margin-left: 10px;
  }
  .img-logo-dark {
    margin-top: 0px;
  }
  .theme {
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .navBar-animation {
    display: none;
  }
}

@media (max-width: 920px) {
  .about-content-light {
    height: 98%;
  }
  .about-content-dark {
    height: 98%;
  }
  .myPicture {
    width: auto;
  }
  .about-projectB {
    width: auto;
    border: none;
  }
}
