.search-city-c {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-city-c > form {
  margin-left: 35px;
}

.search-city-c > form > div {
  width: 460px;
}

.light {
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
}

.dark {
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
}

@media (max-width: 510px) {
  .search-city-c {
    margin-top: 10px;
  }
  .search-city-c > form > div {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .search-city-c > form > div {
    width: auto;
  }
}
