.cityDisplayC {
  /*border: 1px solid red;*/
  margin-top: 15px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;*/
}

/*cityweather container*/
.cityWeatherC {
  /*border: 1px solid rgb(96, 173, 250);*/
  width: 70%;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  margin-left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/public/Background/silhouettes-hills.jpg ');
}

.open {
  /* border: 1px solid red;*/
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openD-light {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.openD-dark {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-wall.png');
}

/*weather city content*/
.cityWeatherContent {
  /*  border: 1px solid blue;*/
  margin-top: 5px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.cityWeatherCard-light {
  width: 20%;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  gap: 10px;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
}
.cityWeatherCard-dark {
  width: 20%;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  gap: 10px;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-wall.png');
}

.cityIcon {
  /*border: 1px solid red;*/
  width: 180px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*cityWeatherContentB  have forecast and description*/
.cityWeatherCardB {
  /*border: 1px solid red;*/
  width: 78%;
  height: 220px;
}

.description-light {
  background-color: white;
  width: 300px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
}
.description-dark {
  width: 300px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-wall.png');
}

span {
  color: rgb(96, 173, 250);
}

.cityTemp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/*font*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*animation*/
.gradient-background {
  background: linear-gradient(300deg, white, rgb(45, 40, 40), white);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*loader*/
.loading-weather {
  /*border: 1px solid green;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/*City Weather forecast data*/
.forecastData {
  /* border: 1px solid green;*/
  height: 130px;
}

.forecastC {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.forecastCard-light {
  background-color: white;
  width: 200px;
  height: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  display: flex;
  flex-wrap: wrap;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
}
.forecastCard-dark {
  width: 200px;
  height: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-wall.png');
}

.forecastCardIcon {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding: 1px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
}

.forecastDescription {
  width: 50%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  padding: 5px;
}

.forecast-icon {
  width: 100%;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Weather message  alerts */
.alerts {
  /*border: 2px solid green;*/
  width: 1410px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.alertImgs {
  /* border: 2px solid rgb(96, 173, 250);*/
  width: 45%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  /*  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);*/
}
.img-main {
  width: 75%;
  border-radius: 15px;
  background-image: url('/public/Background/sunset-sky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
}
.img-main:hover {
  opacity: 0.5;
}

.main {
  width: 13%;
  opacity: 0.5;
}
.main:hover {
  opacity: 1;
}

.img-first {
  width: 14%;
  border-radius: 15px;
  background-image: url('/public/Background/silhouettes-hills.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
}
.img-first:hover {
  opacity: 1;
}

.first {
  width: 75%;
  opacity: 1;
}

.first:hover {
  width: 75%;
  opacity: 0.5;
}
.img-second {
  width: 11%;
  border-radius: 15px;

  background-image: url('/public/Background/natural-sky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  box-shadow: 1px 1px 1px 1px rgb(96, 173, 250);
}

.img-second:hover {
  opacity: 1;
}
.second {
  width: 73%;
  opacity: 1;
}
.second:hover {
  opacity: 0.5;
}
.alertMessages {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-left: 2px solid rgb(96, 173, 250);
}

.alertMessages > div {
  margin-left: 10px;
  font-size: 25px;
}

@media (max-width: 1406px) {
  .cityDisplayC {
    width: auto;
    justify-content: center;
  }
  .alerts {
    width: auto;
  }
  .alertImgs {
    width: 55%;
  }
}
@media (max-width: 1210px) {
  .cityWeatherC {
    width: auto;
  }
}

@media (max-width: 950px) {
  .cityWeatherC {
    margin-left: 0px;
    width: 98%;
    margin-left: 10px;
    height: auto;
  }
  .cityDisplayC {
    height: auto;
  }
  .cityWeatherCardB {
    height: auto;
    width: auto;
  }
  .cityWeatherContent {
    height: auto;
  }
  .cityWeatherCard-light {
    height: auto;
    width: auto;
  }
  .cityWeatherCard-dark {
    height: auto;
    width: auto;
  }
  .forecastData {
    margin-bottom: 15px;
    height: auto;
    gap: 5px;
  }

  .forecastCard-light {
    height: auto;
  }
  .forecastCard-dark {
    height: auto;
  }
  .forecastC {
    height: auto;
  }
}

@media (max-width: 750px) {
  .cityDisplayC {
    height: auto;
    margin-bottom: 20px;
  }

  .alerts {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .alertImgs {
    display: none;
  }
  .alertMessages {
    width: auto;
    border: none;
    margin-bottom: 20px;
  }
}
