.app-container-light {
  /* background-color: black;
  border: 3px solid black;*/
  height: 100vh;
  padding: 0%;
  margin: 0%;
  cursor: default;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.app-container-dark {
  background-color: black;
  color: white;
}

.content {
  width: 93%;
  /* border: 1px solid red;*/
}
